*{
    padding: 0;
    margin: 0;
}

:root{
    --font-title: Trebuchet MS, sans-serif;
    --font-content: Trebuchet MS;
    --font-size-title: 30px; 
}
body{
    background-color: rgba(118, 118, 103, 0.4);
    
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 100px;
    background-color: rgb(108, 108, 95, 0.7);
}

.logo{
    margin: auto;
    font-size: 35px;
    letter-spacing: 5px;
}

.header-item{
    margin: auto;
    font-size: 18px;
    font-family: var(--font-title);
}

.img-container{
    margin-top: 20px;
    display: flex;
    justify-content: center;

}

img{
    width: 300px;
}

.info{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

}

.info-item{
    margin-top: 20px;

}

.info-title{
    font-size: var(--font-size-title);
    font-family: var(--font-title);
    
}

.info-content{
    font-family: var(--font-content);
    font-size: 20px;
    margin-top: 10px;
}


.decor {
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background: rgb(255, 255, 255);
    border-radius: 30px;
}
.form-inner {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.form-title{
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #604f38;
 }

.form-item{
    margin-top: 10px;
    padding: 0 20px;
    background:  rgb(198, 186, 138, 0.3);
    line-height: 40px;
    border-width: 0;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
}


 .form-inner textarea {
    resize: none;
 }

.button{
    margin-top: 30px;
    background: #7e6357;
    /* border-bottom: 4px solid #d87d56; */
    color: white;
    font-size: 14px;
    margin-bottom: 30px;
}

.footer{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}